#imgstoria {
    height: auto;
    width: 100%;
}
#container {
    width: 100%;
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#container img {
    height: auto;
    width: 100%;
}
@media screen and (max-width: 570px) {
    div#container img {
        height: 100%;
        width: auto;
    }
}
@media screen and (max-width: 1000px) {
    #titolo {
        font-size: 35px;
        margin-left: 5%;
        margin-right: 5%;
    }
    div#chi-siamo {
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {

    div#chi-siamo div {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
#titolo p {
    display: block;
    text-align: center;
}
div#paragrafo {
    color: #0a3b72;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin: 0% 15% 0% 15%;
}