@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

#tramonto {
    height: auto;
    width: 100%;
}
#containerTramonto {
    width: 100%;
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#containerTramonto img {
    height: auto;
    width: 100%;
    margin: -100px 0px 100px 0px;
}
@media screen and (max-width: 700px) {
    div#containerTramonto img {
        height: 100%;
        width: auto;
        margin: 0px;
    }
}
@media screen and (max-width: 1000px) {
    #titolo {
        font-size: 35px;
        margin-left: 5%;
        margin-right: 5%;
    }
    div#citazione {
        display: block;
        align-items: center;
        text-align: center;
    }
    img#imgcitazione {
        margin-bottom: 5%;
        width: 80%;
        min-width: 150px;
        max-width: 400px;
        height: auto;
    }
    #imgcanoe {
        margin: 5% 0% 0% 0%;
        width: 80%;
        min-width: 150px;
        max-width: 400px;
        height: auto;
    }
    div#chi-siamo {
        align-items: center;
        text-align: center;
    }
    div#paragrafo {
        display: block;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
        div#citazione {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#paragrafo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p.titoloparagrafo {
        margin-right: 3%;
    }
        img#imgcitazione {
        margin-right: 5%;
        width: auto;
        height: 300px;
    }
    #imgcanoe {
        margin-left: 5%;
        width: auto;
        height: 300px;
    }
    div#chi-siamo div {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
#motto {
    font-size: 27px;
    font-style: italic;
    font-weight: normal;
}
div#citazione {
    color: #0a3b72;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin: 0% 15% 0% 15%;
}
div#paragrafo {
    color: #0a3b72;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin: 0% 15% 0% 15%;
}
div#prova {
    height: 30%;
    width: 30%;
    overflow: hidden;
    color: white;
    background-color: #0a3b72;
    position: relative;
}
div#prova span {
    position: absolute; 
    top: 0px; 
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#prova img {
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
}