* {
    margin: 0;
    padding: 0;
    top: 0;
}
#logocrlp {
    height: 28px;
    width: auto;
    margin: 11px 0px 11px 0px;
}
#navmenuest {
    background-color: #191a1aa5;
    align-items: center;
    text-align: center;
}
div#menuest {
    list-style-type: none;
    position: fixed;
    background-color: #191a1aa5;
    line-height: 50px;
    font-family: system-ui;
    font-size: 13px;
    width: 100%;
    justify-content: center;
    user-select: none;
}
div#menuest ul {
    justify-content: center;
    align-items: center;
}
.titolimenu {
    float: left;
    color: white;
    border: 1px;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    top: 0;
    z-index: 1;
}
.titolimenu ul {
    list-style-type: none;
}
div#menuest li {
    list-style-type: none;
    float: left;
}
div#elementimenuest {
    background-color: #191a1aa5;
    width: 100%;
    height: 70%;
    font-size: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}